*{
  padding:0;
  margin:0;
}
body{
  //width:100%;
  //height:100%;
  text-align:center;
  background: #f4f4f4;
}
.box-body{
  width:818px;
  height:100%;
  background:#fff;
  //border-radius: 10px;
  display: inline-block;
  padding: 0 50px;
}
.header{
  width: 818px;
  height: 210px;
  margin: 0 auto;
  font-size: 16px;
  .header—title{
    width: 818px;
    line-height: 61px;
  }
  .header—titval{
    float: left;
    margin-left: 20px;
    color: #424242;
    font-size: 19px;
  }
  .header—titval2{
    float: left;
    width: 4px;
    height: 30px;
    background: #ffb802;
    margin-top: 15px;
    border-radius: 10px;
  }
  .header—title2{
    width:818px;
    height: 148px;
    float: left;
    display: flex;
    text-align: center;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    .header—p{
      flex: 1;
    }
    dd{
      margin-top: 20px;
      font-size: 16px;
      color: #999;
    }
  }
  .header—p img{
    width: 53px;
    height: 53px;
    margin-top: 19px;
  }
}

.compensation{
  width:100%;
  height:947px;
  .cps-title{
    font-weight: bold;
    font-size:16px;
    color:#000;
    text-align: left;
    padding:20px 0;
  }
  .cps-picture{
    width:100%;
    height:240px;
    text-align:left;
    font-size:16px;
    border-bottom:1px solid #ccc;
    .cps-pictures span{
      color:#686868;
      font-size:14px;
    }
    .cps-add{
      width:100%;
      height:162px;
      padding:30px 0;
      .cps-chunk{
        float: left;
        width:160px;
        height:160px;
        border:1px solid #ccc;
        text-align:center;
        margin-right:30px;
        .cps-jia{
          font-weight: bold;
          font-size:70px;
          color:#e8e8e8;
        }
        .cps-content{
          font-size:12px;
          width:78px;
          color:#989898;
          display: inline-block;
        }
      }
      .cps-di{
        line-height:140px;
      }
    }
  }

  .cps-papers{
    width:100%;
    height:267px;
    text-align:left;
    font-size:16px;
    border-bottom:1px solid #ccc;
    padding-top:30px;
    .cps-pictures span{
      color:#686868;
      font-size:14px;
    }
    .cps-add{
      width:100%;
      height:162px;
      padding:30px 0;
      .cps-chunk{
        float: left;
        width:160px;
        height:160px;
        border:1px solid #ccc;
        text-align:center;
        margin-right:30px;
        border-radius: 5px;
        img{
          width:160px;
          height:160px;
          border-radius: 5px;
        }
        .cps-jia{
          font-weight: bold;
          font-size:70px;
          color:#e8e8e8;
        }
      }
      .cps-di{
        line-height:140px;
      }

    }
  }

  .cps-bargain{
    width:100%;
    height:237px;
    text-align:left;
    font-size:16px;
    border-bottom:1px solid #ccc;
    padding-top:30px;
    .cps-pictures span{
      color:#686868;
      font-size:14px;
    }
    .cps-add{
      width:100%;
      height:162px;
      padding:30px 0;
      .cps-chunk{
        float: left;
        width:160px;
        height:160px;
        border:1px solid #ccc;
        text-align:center;
        margin-right:30px;
        img{
          width:160px;
          height:160px;
          border-radius: 5px;
        }
        .cps-jia{
          font-weight: bold;
          font-size:70px;
          color:#e8e8e8;
        }
      }
      .cps-di{
        line-height:140px;
      }
    }
  }

  .cps-btn{
    margin-top:40px;
    button{
      //margin-right:158px;
      font-size:14px;
      color:#fff;
      width:74px;
      height:34px;
      border:0;
      background:#ffb802;
    }
  }
}
